extends layout

block content
  h1= title
  button(type="button", id="loginBtn") Sign In
  p OneNote Create Examples:
  form(id="createExamples", name="createExamples", method="post")
    button(type="submit", name="submit", value="text", disabled).
      Page with Text
    br
    button(type="submit", name="submit", value="textimage", disabled).
      Page with Text and Images
    br
    button(type="submit", name="submit", value="html", disabled).
      Page with screenshot of HTML
    br
    button(type="submit", name="submit", value="url", disabled).
      Page with screenshot of a URL
    br
    button(type="submit", name="submit", value="file", disabled).
      Page with an embedded file
    br
  script window.authUrl = '!{authUrl}';
  script(src="/js/index.js")
